body{
    margin: 0%;
}
.container {
    display: flex;
    gap: 1rem;
    padding: 5%;
    background-color: rgb(94, 91, 91);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.task-and-form{
    
}
h1{
    color: rgb(28, 28, 222);;
    font-size:3rem;
    font-weight:bolder;
}
#submit-button{
    background-color: rgb(28, 28, 222);;
    color: white;
    font-weight: bold;
}
label{
    color: rgb(28, 28, 222);
    font-weight: bold;
}
select, #submit-button, input{
    width: 15rem;
    padding: 0.5rem;
    font-size: medium;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: transparent;
}
input{
    width: 13.8rem;
}

.bosch-and-name{
    display: flex;
    gap: 2rem;
    padding: 3%;
    margin: auto;
    border-radius: 0.5rem;
    background-color: white;
}
#logo-img{
    width: 3rem;
    border-radius: 100%;
}
.name-and-info{
    
}
.div1{
    display: flex;
    justify-content: space-between;
}
.priority{
    background-color: palevioletred;
    color: white;
    padding: 0.3rem;
    border-radius: 0.5rem;
}
h3{
    color: darkrgb(28, 28, 222);;
}
.dep-and-mang{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.dep-and-mang span{
    background-color: grey;
    color: rgb(29, 87, 186);
    padding: 0.3rem;
    border-radius: 0.5rem;
}
.work-and-comments{
    display: flex;
    gap: 4rem;
}